<% if user_signed_in? %>

  <div class="caption">
    <h3><%= current_user.name %></h3>
  </div>
  <div class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: auto; height: auto;">
    <%= image_tag current_user.avatar_url(:thumb).to_s if current_user.avatar? %>
  </div>
<% else %>
  <h1>Физкульт привет</h1>
  <span>Давай залезай!!!</span>
<% end %>
