default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: root
  password: root

development:
  <<: *default
  database: IFitness_development

test:
  <<: *default
  database: IFitness_test
